{% extends "JDRCoreBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets%}
    {{ parent() }}
    <link href="{{ asset('css/JDR/CoreBundle/Core/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block body %}

    <div>
        <a href="{{ path('jdr_core_session_creation') }}" class ="button">Créer une nouvelle partie</a>
    </div>


{% endblock %}
